{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-md-3">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <small style="color: red;"> {{ form.field.errors | safe }} </small>
              <div class="form-outline mb-4">
                <input type="password" name="password1" autocomplete="current-password" required id="id_password" class="form-control" />
                <label class="form-label" for="id_password">New Password</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" name="password2" autocomplete="current-password" required id="id_password" class="form-control" />
                <label class="form-label" for="id_password">Confirm Password</label>
              </div>

            <input type="submit" class="btn btn-dark mb-4" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}
</div>
{% endblock %}

